.dropdown-menu {
  right: 0 !important;
  left: auto !important;
}

.navbar {
  background-color: #f8f9fa !important;
  font-size: 11pt;
  font-weight: 500;
}

.nav-item {
  transition-duration: 1s !important;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
}

.nav-pills .nav-link {
  color: rgba(0, 0, 0, 0.733) !important;
}

.nav-pills .nav-link:hover {
  color: rgba(0, 0, 0, 0.733) !important;
  background-image: linear-gradient(rgb(0 0 0/10%) 0 0) !important;
}

.nav-pills .nav-link.active {
  color: rgba(0, 0, 0, 0.733) !important;
  background-color: transparent;
  background-image: linear-gradient(rgb(0 0 0/10%) 0 0) !important;
}
