@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#root {
  width: 100% !important;
}

body {
  font-family: "Poppins", sans-serif !important;
  font-size: 9pt;
  font-weight: 500;
  margin: 0;
  place-items: center;
  min-height: 100vh;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  background: #E7F0DC;
  background: -webkit-linear-gradient(180deg, rgba(231, 240, 220, 1) 0%, rgba(210, 228, 187, 1) 50%, rgba(168, 195, 134, 1) 100%);
  background: -moz-linear-gradient(180deg, rgba(231, 240, 220, 1) 0%, rgba(210, 228, 187, 1) 50%, rgba(168, 195, 134, 1) 100%);
  background: linear-gradient(180deg, rgba(231, 240, 220, 1) 0%, rgba(210, 228, 187, 1) 50%, rgba(168, 195, 134, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#E7F0DC", endColorstr="#A8C386", GradientType=0);
}

label {
  font-size: 9pt;
  font-weight: 500;
}

p {
  font-size: 9pt;
}

.card {
  border: none !important;
  padding: 10px 10px 10px 10px
}

.container {
  min-height: 100vh;
  width:100%;
}

.btn {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .login-card {
    width: 100% !important;
  } 
}

@media (min-width: 992px) { 
  .login-card {
    width: 500px !important;
  } 
}